name: Publish images to GHCR
on:
  push:
    branches: [ main ]
jobs:
  publish-images:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          lfs: true
          fetch-depth: 0

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
          scope: repo

      - name: Build and push SGX Docker image
        uses: docker/build-push-action@v4
        with:
          context: .
          file: Dockerfile
          push: true
          tags: ghcr.io/${{ github.repository_owner }}/cmcaas-server:latest

      - name: Build and push SGX simulation Docker image
        uses: docker/build-push-action@v4
        with:
          context: .
          file: Dockerfile_sim
          push: true
          tags: ghcr.io/${{ github.repository_owner }}/cmcaas-server:sim

